@import "tailwindcss";

.text-primary {
  color: #fff8ea;
}

.text-secondary {
  color: #c77e3b;
}

.bg-primary {
  background-color: #fff8ea;
}

.bg-secondary {
  background-color: #c77e3b;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-menu .ant-menu-submenu {
  background-color: inherit !important;
}

/* .custom-menu .ant-menu-item {
  background-color: inherit !important; 
} */

.custom-menu .ant-menu-sub {
  background-color: inherit !important;
}

.cinema-tabs :global(.ant-tabs-nav) {
  margin-bottom: 0;
}
.cinema-tabs :global(.ant-tabs-content-holder) {
  display: none;
}
